{%
    set arr = [
    {id: '1',title: 'Hẻm vực lãng quên', active: '',id: "tab-1",img: 'hemvuclangquen.png',show: ''},
    {id: '2',title: 'Thời không quyết đấu',active: '',id: "tab-2",img: 'thoikhongquyetdau.png',show: ''},
    {id: '3',title: 'Bí hải tầm bảo',active: '',id: "tab-3",img: 'Bihaitambao.png',show: ''},
    {id: '4',title: 'Trúc linh bí cảnh',active: '',id: "tab-4",img: 'truclinhbicanh.png',show: ''},
    {id: '5',title: 'Giải đấu bang',active: '',id: "tab-5",img: 'giaidaubang.png',show: ''},
    {id: '6',title: 'Giải đấu vinh diệu',active: '',id: "tab-6",img: 'giaidauvinhdieu.png',show: ''},
]
%}
<div class="section section_screen_4">
    <div class="container position-relative h-100">
        <div class="row align-items-center py-8">
            <div class="col-lg-5 offset-lg-2">
{#                <div class="tab-content card_selector__content">#}
{#                    {% for i in arr %}#}
{#                        <div class="tab-pane fade {{i.show}} {{i.active}}" id="card_selector__content{{ i.id }}">#}
{#                            <div class="fs_0 text-end">#}
{#                                <img src="images/hero/card/{{i.img}}" alt="{{i.title}}" />#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
            <div class="col-lg-5">
                <ul class="nav nav-tabs card_selector__tab">
                    {% for i in arr %}
                        <li>
                            <button class="sprite card_selector__item{{i.id}} {{i.active}}" data-bs-toggle="modal" data-bs-target="#modal_card{{i.id }}">{{i.title}}</button>
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center mb-3 mb-md-0">
                    <a href="#" target="_blank"><img src="images/v-play.png" alt=""/></a>
                </div>
                <div class="col-md-9 text-center text-md-start">
                    <p class="mb-2">
                        Hotline: <a class="fw-bold" href="tel:1900866666">1900866666</a> - Email: <a class="fw-bold" href="mailto:hotro@vplay.vn">hotro@vplay.vn</a> <br/>
                    </p>
                    <p class="m-0">
                        Giấy phép phê duyệt nội dung số 52/QĐ-BTTTT cấp ngày 19/01/2022
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% for i in arr %}
<div class="modal fade modal_card" id="modal_card{{i.id }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="text-center position-relative">
                <a href="javascript:void(0)"  class="sprite btn-close" data-bs-dismiss="modal">xx</a>
                <img src="images/hero/card/{{i.img}}" alt="{{i.title}}" />
            </div>
        </div>
    </div>
</div>
{%endfor%}