{%
    set arr = [
    {id: 0,text: '10.000 lượt'},
    {id: 1,text: '30.000 lượt'},
    {id: 2,text: '50.000 lượt'},
    {id: 3,text: '100.000 lượt'},
    {id: 4,text: '200.000 lượt'},
]
%}
<div class="section section_screen_2">
    <div class="container h-100 position-relative d-flex align-items-center">
        <div class="milestone">
            {% for i in arr %}
                <a  href="javascript:void(0)"
                    class="sprite milestone_item milestone_item_{{ i.id }}"
                    data-id="milestone_item_{{ i.id }}"
                    data-bs-html="true"
                    data-bs-toggle="tooltip">
                    {{ item.text }}
                </a>

            {% endfor %}
        </div>
        <div class="btn_bottom">
            <a href="#" class="sprite btn_thele" data-bs-toggle="modal" data-bs-target="#modal_rules"></a>
            <div class="sprite registered mx-auto">
                <strong class="fs_20">Đã đăng ký</strong>
                <br/>
                <strong class="fs_32">150.354</strong>
            </div>
            <a href="#" class="sprite btn_signin"></a>
        </div>
    </div>
</div>
{#{% for i in 0..4 %}#}
{#    <div class="milestone_item__template" id="milestone_item__template{{ i }}">#}
{#        {% for z in 0..3 %}#}
{#            <div class="d-flex align-items-center mb-2">#}
{#                <span class="sprite flex-shrink-0 me-2 milestone_item__bullet"></span>#}
{#                <p class="m-0 line_number2 flex-grow-1 fw-bold">#}
{#                    Lorem Ipsum Lorem Ipsum {{ z }}#}
{#                    Lorem Ipsum Lorem Ipsum {{ z }}#}
{#                </p>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endfor %}#}

<script type="text/javascript">

</script>