{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block pageTitle %} Stick Man Mobile {% endblock %}</title>
    <meta name=description content="{{ slogan }}"/>
    <meta name=keywords content="{{ slogan }}"/>
    <meta name=title content="{{ slogan }}"/>
    <meta itemprop=keywords name=news_keywords content="{{ slogan }}"/>

    <meta name=viewport
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name=author content="{{ slogan }}"/>
    <meta name=article:author content="{{ slogan }}"/>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8"/>

    <meta itemprop=description property=og:description content="{{ slogan }}"/>
    <meta property=og:site_name content="{{ slogan }}"/>
    <meta property=og:locale content=vi_VN/>
    <meta property=og:type content=article/>
    <meta property=og:url content=""/>
    <meta property=og:title content="{{ slogan }}"/>
    <meta property=fb:app_id content=1948000195514715/>
    <meta property=og:image content=""/>
    <meta itemprop=image content=""/>
    <meta itemprop=datePublished content="Thu, 14-03-2019 17:26:13"/>

    <meta name=robots content="index,follow"/>
    <link rel=canonical href=""/>
    <meta name=googlebot content="noodp,index,follow"/>
    <meta name=robots content="index,follow"/>

    <link rel="stylesheet" type="text/css" href="css/main-mobile.css"/>
</head>
<body>
<div id="main">
    {% block page %}{% endblock %}
</div>
{% include "../component/mobile/modal-trailer.twig" %}
<!-- JS -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>
