
{% set heroType = [
    {id: 1,name: '',active: 'active'},
    {id: 2,name: '',active: ''},
    {id: 3,name: '',active: ''},
    {id: 4,name: '',active: ''},
    {id: 5,name: '',active: ''},
    {id: 6,name: '',active: ''},
] %}

{%
    set heroAcquy = [
        {id: 1,img: '1_acquy1',title: 'Ác quỷ 1',active: 'active',show: 'show'},
        {id: 2,img: '1_acquy2',title: 'Ác quỷ 2',active: '',show: ''},
        {id: 3,img: '1_acquy3',title: 'Ác quỷ 3',active: '',show: ''},
    ]
%}
{%
    set heroThienthan = [
        {id: 1,img: '2_thienthan1',title: 'Thiên thần 1',active: 'active',show: 'show'},
        {id: 2,img: '2_thienthan2',title: 'Thiên thần 2',active: '',show: ''},
        {id: 3,img: '2_thienthan3',title: 'Thiên thần 3',active: '',show: ''},
    ]
%}
{%
    set heroKim = [
        {id: 1,img: '3_Kim1',title: 'Kim 1',active: 'active',show: 'show'},
        {id: 2,img: '3_Kim2',title: 'Kim 2',active: '',show: ''},
        {id: 3,img: '3_Kim3',title: 'Kim 3',active: '',show: ''},
    ]
%}
{%
    set heroMoc = [
        {id: 1,img: '4_moc1',title: 'Mộc 1',active: 'active',show: 'show'},
        {id: 2,img: '4_moc2',title: 'Mộc 2',active: '',show: ''},
        {id: 3,img: '4_moc3',title: 'Mộc 3',active: '',show: ''},
    ]
%}
{%
    set heroThuy = [
        {id: 1,img: '5_thuy1',title: 'Thủy 1',active: 'active',show: 'show'},
        {id: 2,img: '5_thuy2',title: 'Thủy 2',active: '',show: ''},
        {id: 3,img: '5_thuy3',title: 'Thủy 3',active: '',show: ''},
    ]
%}
{%
    set heroHoa = [
        {id: 1,img: '6_hoa1',title: 'Hỏa 1',active: 'active',show: 'show'},
        {id: 2,img: '6_hoa2',title: 'Hỏa 2',active: '',show: ''},
        {id: 3,img: '6_hoa3',title: 'Hỏa 3',active: '',show: '',}
    ]
%}


<div class="section section_screen_3">
    <div class="container h-100 position-relative">
        <div class="hero_intro h-100">
            <div class="tab-content h-100" id="hero_intro__content">
                <div class="tab-pane fade show active" id="hero_type1">
                    <div class="hero_figure">
                        <ul class="nav nav-tabs mb-3 border-0" id="hero_devil__tab">
                            {% for i in heroAcquy %}
                            <li>
                                <button class="hero_figure__tab1 sprite {{i.active}}" data-bs-toggle="tab" data-bs-target="#hero_devil__tab{{i.id}}" type="button">{{i.title}}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for i in heroAcquy %}
                            <div class="tab-pane fade {{i.show}} {{i.active}}" id="hero_devil__tab{{i.id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5 offset-3">
                                            <img src="images/hero/tuong/{{i.img}}.png" alt="{{i.tile}}" />
                                        </div>
                                        <div class="col-4 text-end"></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="hero_type2">
                    <div class="hero_figure">
                        <ul class="nav nav-tabs mb-3 border-0" id="hero_angle__tab">
                            {% for i in heroThienthan %}
                                <li>
                                    <button class="hero_figure__tab1 sprite {{i.active}}" data-bs-toggle="tab" data-bs-target="#hero_angle__tab{{i.id}}" type="button">{{i.title}}</button>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for i in heroThienthan %}
                                <div class="tab-pane fade {{i.show}} {{i.active}}" id="hero_angle__tab{{i.id}}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-5 offset-3">
                                                <img src="images/hero/tuong/{{i.img}}.png" alt="{{i.tile}}" />
                                            </div>
                                            <div class="col-4 text-end"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

               <div class="tab-pane fade" id="hero_type3">
                   <div class="hero_figure">
                       <ul class="nav nav-tabs mb-3 border-0" id="hero_gold__tab">
                           {% for i in heroKim %}
                               <li>
                                   <button class="hero_figure__tab1 sprite {{i.active}}" data-bs-toggle="tab" data-bs-target="#hero_gold__tab{{i.id}}" type="button">{{i.title}}</button>
                               </li>
                           {% endfor %}
                       </ul>
                       <div class="tab-content">
                           {% for i in heroKim %}
                               <div class="tab-pane fade {{i.show}} {{i.active}}" id="hero_gold__tab{{i.id}}">
                                   <div class="container">
                                       <div class="row">
                                           <div class="col-5 offset-3">
                                               <img src="images/hero/tuong/{{i.img}}.png" alt="{{i.tile}}" />
                                           </div>
                                           <div class="col-4 text-end"></div>
                                       </div>
                                   </div>
                               </div>
                           {% endfor %}
                       </div>
                   </div>
                </div>
                <div class="tab-pane fade" id="hero_type4">
                    <div class="hero_figure">
                        <ul class="nav nav-tabs mb-3 border-0" id="hero_wood__tab">
                            {% for i in heroMoc %}
                                <li>
                                    <button class="hero_figure__tab1 sprite {{i.active}}" data-bs-toggle="tab" data-bs-target="#hero_wood__tab{{i.id}}" type="button">{{i.title}}</button>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for i in heroMoc %}
                                <div class="tab-pane fade {{i.show}} {{i.active}}" id="hero_wood__tab{{i.id}}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-5 offset-3">
                                                <img src="images/hero/tuong/{{i.img}}.png" alt="{{i.tile}}" />
                                            </div>
                                            <div class="col-4 text-end"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="hero_type5">
                    <div class="hero_figure">
                        <ul class="nav nav-tabs mb-3 border-0" id="hero_water__tab">
                            {% for i in heroThuy %}
                                <li>
                                    <button class="hero_figure__tab1 sprite {{i.active}}" data-bs-toggle="tab" data-bs-target="#hero_water__tab{{i.id}}" type="button">{{i.title}}</button>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for i in heroThuy %}
                                <div class="tab-pane fade {{i.show}} {{i.active}}" id="hero_water__tab{{i.id}}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-5 offset-3">
                                                <img src="images/hero/tuong/{{i.img}}.png" alt="{{i.tile}}" />
                                            </div>
                                            <div class="col-4 text-end"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="hero_type6">
                    <div class="hero_figure">
                        <ul class="nav nav-tabs mb-3 border-0" id="hero_fire__tab">
                            {% for i in heroHoa %}
                                <li>
                                    <button class="hero_figure__tab1 sprite {{i.active}}" data-bs-toggle="tab" data-bs-target="#hero_fire__tab{{i.id}}" type="button">{{i.title}}</button>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for i in heroHoa %}
                                <div class="tab-pane fade {{i.show}} {{i.active}}" id="hero_fire__tab{{i.id}}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-5 offset-3">
                                                <img src="images/hero/tuong/{{i.img}}.png" alt="{{i.tile}}" />
                                            </div>
                                            <div class="col-4 text-end"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="hero_intro__tab">
                {% for i in heroType %}
                    <li>
                        <button class="hero_type{{i.id}} sprite {{i.active}}" data-bs-toggle="tab" data-bs-target="#hero_type{{i.id}}" type="button"></button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>